#footer {
  bottom:0 !important;
  margin-top: 0 !important;
}

#root {
   height: 100% !important;
   margin: 0 !important;
}

#content {
   min-height: calc(100vh - 454px);
}

.testimonial-area .owl-nav {
   position: absolute;
   left: 101%;
   top: 25%;
}

.testimonial-area .owl-nav .disabled {
   position: absolute;
   left: 101%;
   top: 25%;
}

@media (max-width: 1024px) {
   .testimonial-area .owl-nav {
       position: relative;
       text-align: center;
       left: 0;
       top: 20px;
   }
   .testimonial-area .owl-nav .disabled  {
       position: relative;
       text-align: center;
       left: 0;
       top: 20px;
   }
}

.testimonial-area .owl-prev, .testimonial-area .owl-next {
   background-color: white;
   box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
   padding: 14px;
   color: #000;
   font-weight: 500;
   border: 1px solid #f5f5f5;
   display: inline-flex;
   -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}

.owl-prev, .owl-next {
   font-family: 'Linearicons-Free';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
}

.owl-prev:before {
   content: "\e877";
}

.owl-next:before {
   content: "\e878";
}

.testimonial-area .owl-carousel .owl-nav.disabled {
   display: block !important;
}

.testimonial-area .owl-prev:hover, .testimonial-area .owl-next:hover {
   background: #8490ff !important;
   color: #fff !important;
}

.owl-prev:focus, .owl-next:focus {
   border: 1px solid #f5f5f5 !important;
   border-radius: 0 !important;
}
